<p><strong>Name</strong> <em>*</em> <br /> <%= f.text_field :name %></p>
<p><%= f.check_box :enables_database_instance_access %> Enables database instance access</p>
<p><strong>Notes</strong> <br /> <%= f.text_area :notes, {"cols" => 30, "rows" => 4}  %></p>