<p><strong>Environment:</strong> <br /><%= f.select :environment_id, Environment.find(:all, :order => 'name').collect { |r| [ r.name, r.id ] }, { :include_blank => true } %></p>

<p><strong>Program:</strong> <br /><%= f.select :program_id, Program.find(:all, :order => 'name').collect { |p| [ p.name, p.id ] }, { :include_blank => true } %></p>

<p><strong>Assigned at:</strong> <br/><%= f.datetime_select :assigned_at %></p>