<h3><%= h(customer.name) %></h3>


<%- customer.environments.each do |e| -%>
<p><%= link_to h(e.name), environment_path(e)%></p>

  <ul>
  <%- FunctionType.find(:all, :order => 'name').each do |type| -%>
  <li><%= h(type.name.pluralize) %>: <%= e.count_for_function_type(type) %></li>
  <%- end -%>
  </ul>

<%- end -%>

