<%- @page_title = "Datacenter Environment Assignment: " + h(@datacenter_environment_assignment.datacenter.name) + '<->' + h(@datacenter_environment_assignment.environment.name) %>

<%= render :partial => 'shared/deleted_message', :locals => { :object => @datacenter_environment_assignment} %>

<div class="record_view">

<h1>Datacenter Environment Assignment</h1>

<p><strong>Datacenter:</strong> <%= h(@datacenter_environment_assignment.datacenter.name) %><br />
<strong>Environment:</strong> <%= h(@datacenter_environment_assignment.environment.name) %><br />
<strong>Assigned at:</strong> <%= h(@datacenter_environment_assignment.assigned_at.to_formatted_s(:long)) %></p>

<p class="metadata"><strong>Created at:</strong> <%= h(@datacenter_environment_assignment.created_at) %><br />
<strong>Updated at:</strong> <%= h(@datacenter_environment_assignment.updated_at) %></p>

</div>

<%- if !@datacenter_environment_assignment.deleted_at -%>
<p><%= link_to 'Edit', edit_datacenter_environment_assignment_path(@datacenter_environment_assignment) %> | 
<%= link_to 'Delete', datacenter_environment_assignment_path(@datacenter_environment_assignment), :confirm => 'Are you sure?', :method => :delete %></p>
<%- end -%>

<%= render :partial => 'shared/version_information', :locals => { :object => @datacenter_environment_assignment} %>
